{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<br>
<br>
<br>
<br>
<h1 class="d-flex justify-content-around align-items-center align-self-center font-weight-bold text-dark"> Registro De Usuario </h1>
<div class="container">
    <div class="row">
        <div class="col-12 m-5">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-primary btn-block" value="Registrar">
            </form>
        </div>
    </div>
</div>
{% endblock %}