{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-12 m-5">
            <br><br><br><br><br><br>
            <form action="" method="POST" enctype="multipart/form-data">
                <table>
                    {% csrf_token %}
                    {{ form | crispy }}
                </table>
                <input type="submit" class="btn btn-succes" value="Guardar">
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11%22%3E"></script>

{% if messages %} 
    {% for aux in messages %} 
    <script>
      Swal.fire({
      title: 'Confirmación',
      text: '{{ aux }}',
      icon: 'success',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'success'
    })
    </script>
    {% endfor %} 
    {% endif %}
{% endblock %}