{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}

<br> <br> <br> <br> 
<!DOCTYPE html>

<head>
    <style>
        .card {
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega sombras en los bordes */
        }

        .custom-btn {
            background-color: green; /* Cambia el color del botón a verde pastel */
        }

        .order-number {
            color: green; /* Cambia el color del número de orden a verde */
        }
    </style>
</head>

    <div class="container">
        <div class="row">
            <div class="col-12 m-5">
                <form method="POST">
                    <br>
                    <h1 class="d-flex justify-content-around align-items-center align-self-center font-weight-bold text-dark text-center h1"> Boleta Emitida con Éxito! </h1>
                    <br>
                    <div class="card mx-auto mt-5" style="width: 40rem;">
                        <div class="card-body text-center">
                            <h5 class="card-title h2 bonito-minimalista">BOLETA</h5>
                            <p class="card-text text-uppercase h5">Nombre Cliente: <span class="order-number">{{ orden.carrito }}</span></p>
                            <p class="card-text text-uppercase h5">N° De orden: <span class="order-number">{{ orden.numero }}</span></p>
                            <br>
                            {% for producto in orden.productos.all %}
                                <p class="card-text text-uppercase h5">PRODUCTO: <span class="order-number">{{ producto.nombre }}</span></p>
                            {% endfor %}
                            <br>
                            <p class="card-text text-uppercase h5">Cantidad: <span class="order-number">{{ orden.calcular_cantidad }}</span></p>
                            <br>
                            {% if user.suscriptor %}
                                <p class="card-text text-uppercase h5">VALOR TOTAL: <span class="order-number"> $ {{ orden.calcular_total_suscritor }}</span></p>
                            {% else %}
                                <p class="card-text text-uppercase h5">PRECIO TOTAL: $ {{ orden.calcular_total }}</p>
                            {% endif %}
                            <img src="{% static 'core/assets/img/T.png' %}" alt="">
                            <br><br>
                        </div>
                    </div>
                    <a href="{% url 'index' %}" class="btn btn-block mt-5 w-25 mx-auto custom-btn">VOLVER AL INICIO</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
