{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Carrito de compras</p>
						<h1>Carrito</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-image">Eliminar del carrito</th>
									<th class="product-name">Imágen</th>
									<th class="product-price">Nombre</th>
									<th class="product-quantity">Precio</th>
									<th class="product-total">Cantidad</th>
									<th class="product-total">Total</th>
								</tr>
							</thead>
							<tbody>
								{% if request.user.is_authenticated %}
                            		{% for item in request.user.carrito.itemcarrito_set.all %}	
										<tr class="table-body-row">
											<td class="product-remove"><a  href="{% url 'eliminar_del_carrito' item.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
											<td class="product-image">
                                                {% if item.producto.imagen %}
                                                    <img src="{{ item.producto.imagen.url }}" alt="">
                                                {% else %}
													<img src="{% static 'core/assets/img/signo_exclamacion.png' %}" alt="">
                                                {% endif %}
											</td>
											<td class="product-name">{{ item.producto.nombre }}</td>
											<td class="product-price">$ {{ item.producto.precio }} </td>
										
											<td class="product-quantity"><p>{{ item.cantidad }}</p></td>
											<td class="product-total"><p>${{ item.calcularTotal }} </p></td>

											
											
										</tr>
									{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Precio</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>
										Subtotal: </p></td>
										</strong>
									</td>
									<td></td>
									
								</tr>
								<tr class="total-data">
									<td><strong>Shipping: </strong></td>
									<td>$45</td>
								</tr>
								<tr class="total-data">
									<td><strong>Total: </strong></td>
									<td>$545</td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							
							<p><div id="btnPaypal"></div></p>
						</div>
						<br>
					
					</div>

					
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->

	
	<!-- end logo carousel -->
	{% endblock %}
	{% block js %}
	<script src="{% static 'core/assets/js/mensajes.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" ></script>
	<script src="https://www.paypalobjects.com/api/checkout.js"></script>
	<script>
		paypal.Button.render({
			env: 'sandbox',
			client:{
				sandbox: 'AVRMbA897KeVT0wQtaNfsAdsPMwn7wJJylTybH8BEunSqfgIo72tTOshjJzTnrewDrBlvlIdUdkcXQ_V',
				production: 'demo_production_:client_id'
			},
			locale: 'es_CL',
			style: {
				size: 'large',
				color: 'black',
				shape: 'rect'
			},
			commit: true,
			payment: function (data, actions){
				return actions.payment.create({
					transactions: [{
						amount: {
							total: '3' ,
							currency: 'USD'
						}
					}]
				});
			},
			onAuthorize : function (data, actions) {
				return actions.payment.execute().then(function(){
					Swal.fire({
						title: 'Confirmación de Pago',
						text: 'Pago exitoso!',
						icon: 'success',
						showCancelButton: false,
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonText: 'Confirmar'
					  }) .then((result) => {
						if (result.isConfirmed) {
						  Swal.fire('Pagado!', 'Pago realizado correctamente', 'success').then(function () {
							window.location.href = '/cart.html/';
						  })
						}
					  }) 
				});
			},
			onCancel(data) {
				Swal.fire({
					title: 'El pago fue cancelado!',
					text: 'Pago fallido!',
					icon: 'error',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Confirmar'
				  })
			},
			onError(err) {
				Swal.fire({
					title: 'Error en el pago!',
					text: 'Error en el pago!',
					icon: 'error',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Confrimar'
				  })
			},

		}, '#btnPaypal');
	</script>
{% endblock %}
